/* @media (prefers-color-scheme: light) {
  :root {
    --fore: hsl(0, 0%, 9%);
    --back: hsl(0, 0%, 89%);
    --bg-back: radial-gradient(
      180% 50% at 50% 50%,
      hsl(0, 0%, 90%), hsl(0, 1%, 65%)
      );
    --bg-solid: hsl(0, 0%, 94%);
    --btn-back: hsl(0, 0%, 76%);
  }
} */


:root {
  --fore: hsl(0, 0%, 91%);
  --back: hsl(0, 5%, 21%);
  --bg-back: radial-gradient(180% 75% at 50% 50%,
      hsl(0, 0%, 40%), hsl(0, 0%, 13%));
  --bg-solid: hsl(0, 0%, 13%);
  --btn-back: hsl(0, 0%, 29%);
}


* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  border: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--fore);
}

.content--canvas {
  position: absolute;
  z-index: -1;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  font-family: 'Inter';
  background: var(--bg-solid);
  position: relative;
  overflow: hidden;
}

.centered {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

main {
  display: flex;
  align-items: center;
  align-self: baseline;
  opacity: 0;
}

main.loaded {
  opacity: 1;
  transition: opacity .5s ease-in;
  -webkit-transition: opacity .5s ease-in;
  -moz-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
  transition-delay: .5s;
  -webkit-transition-delay: .5s;
  -moz-transition-delay: .5s;
  -o-transition-delay: .5s;

  footer {
    bottom: 0px;
    transition: bottom .4s ease-out;
    -webkit-transition: bottom .4s ease-out;
    -moz-transition: bottom .4s ease-out;
    -o-transition: bottom .4s ease-out;
    transition-delay: .6s;
    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    -o-transition-delay: .6s;
  }

  header {
    top: 0px;
    transition: top .4s ease-out;
    -webkit-transition: top .4s ease-out;
    -moz-transition: top .4s ease-out;
    -o-transition: top .4s ease-out;
    transition-delay: .6s;
    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    -o-transition-delay: .6s;
  }
}

section.contact {
  margin-top: 3rem;
}

header {
  display: flex;
  justify-content: flex-end;
  font-family: 'Inter', sans-serif;
  align-items: center;
  width: 100%;
  position: absolute;
  top: -2rem;
  font-size: .8rem;
  padding-top: 2rem;
  padding-right: 2rem;
  color: var(--fore);

  nav {

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style-type: none;
      margin-block-end: 0;
      margin-block-start: 0;
      padding-inline-start: 0;
    }

    a {
      text-decoration: none;
      color: var(--fore);
    }

    li {
      display: inline-block;
      list-style-type: none;
      cursor: pointer;
    }

    li:not(:first-child):before {
      content: " | ";
      position: relative;
      margin-left: 0.3em;
    }

  }

}

footer {
  display: flex;
  justify-content: space-between;
  font-family: 'Inter', sans-serif;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: -2rem;
  font-size: .8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--fore);

  p {
    margin-block-end: .5rem;
    margin-block-start: .5rem;
    min-width: 150px;
    cursor: default;
  }

  p.copy {
    display: flex;
    align-items: center;
  }

  p.copy span.mirror {
    margin-right: 5px;
    font-size: 1.2rem;
  }

  p a {
    cursor: pointer;
    color: var(--fore);
  }

  p.linkedin a {
    font-size: 1rem;
  }
}


.mirror {
  display: inline-block;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.emoji {
  font-family: "Twemoji Mozilla",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji",
    "EmojiOne Color",
    "Android Emoji",
    sans-serif;
}

@media screen and (max-width: 500px) {
  body {
    align-items: flex-start;
    padding-top: 20vh;
  }

  header {
    top: 0px;
    font-size: medium;
    padding-top: 3em;
    padding-left: 3em;
  }

  footer {
    align-items: center;
    flex-wrap: wrap;

    p {
      min-width: 0;
    }

    p.linkedin {
      order: 1;
      flex-basis: 100%;
      margin-bottom: 2rem;
    }

    p.aknow {
      order: 3;
      flex-basis: 60%;
      text-align: right;
    }

    p.copy {
      order: 2;
      flex-basis: 40%;
    }
  }
}