---
export type Player = {
  name: string;
  code: string;
};

export type Double = {
  left: Player;
  right: Player;
};

const players: Double[] = Astro.props.players;
---

<div>
  {
    players.map((double) => (
      <div>
        <h1>
          {double.left.code} / {double.right.code}
        </h1>
        <h2>Left: {double.left.name}</h2>
        <h2>Right: {double.right.name}</h2>
      </div>
    ))
  }
</div>
